integrations:
  agent:
    enabled: true
    relabel_configs:
    - action: replace
      source_labels:
      - agent_hostname
      target_label: instance
    - action: replace
      target_label: job
      replacement: "integrations/agent-check"
    metric_relabel_configs:
    - action: keep
      regex: (prometheus_target_.*|prometheus_sd_discovered_targets|agent_build.*|agent_wal_samples_appended_total|process_start_time_seconds)
      source_labels:
      - __name__
  node_exporter:
    enabled: true
    # disable unused collectors
    disable_collectors:
      - ipvs #high cardinality on kubelet
      - btrfs
      - infiniband
      - xfs
      - zfs
    # exclude dynamic interfaces
    netclass_ignored_devices: "^(veth.*|cali.*|[a-f0-9]{15})$"
    netdev_device_exclude: "^(veth.*|cali.*|[a-f0-9]{15})$"
    # disable tmpfs
    filesystem_fs_types_exclude: "^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|tmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tracefs)$"
    # drop extensive scrape statistics
    metric_relabel_configs:
    - action: drop
      regex: node_scrape_collector_.+
      source_labels: [__name__]
    relabel_configs:
    - replacement: {{ custom_hostname }}
      target_label: instance
  mysqld_exporter:
    enabled: true
    instance: {{ custom_hostname }}
    data_source_name: {{ grafana_mysql_user }}:{{ grafana_mysql_password }}@(127.0.0.1:3306)/
    relabel_configs:
      - source_labels: [__address__]
        target_label: job
        replacement: 'integrations/mysql' # must match job used in logs
  {% if docker_enabled -%}cadvisor:
    enabled: true
    docker_only: true
    instance: {{ custom_hostname }}
    relabel_configs:
      - action: replace
        replacement: integrations/docker
        target_label: job
  {% endif %}prometheus_remote_write:
  - basic_auth:
      password: {{ grafana_api_key }}
      username: {{ grafana_hosted_metrics_id }}
    url: {{ grafana_hosted_metrics_url }}

logs:
  configs:
  - clients:
    - basic_auth:
        password: {{ grafana_api_key }}
        username: {{ grafana_hosted_logs_id }}
      url: {{ grafana_hosted_logs_url }}
    name: integrations
    positions:
      filename: /tmp/positions.yaml
    scrape_configs:
    - job_name: integrations/node_exporter_journal_scrape
      journal:
        max_age: 24h
        labels:
          instance: {{ custom_hostname }}
          job: integrations/node_exporter
      relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: 'unit'
      - source_labels: ['__journal__boot_id']
        target_label: 'boot_id'
      - source_labels: ['__journal__transport']
        target_label: 'transport'
      - source_labels: ['__journal_priority_keyword']
        target_label: 'level'
    - job_name: integrations/node_exporter_direct_scrape
      static_configs:
      - targets:
        - localhost
        labels:
          instance: {{ custom_hostname }}
          __path__: /var/log/{syslog,kern.log,messages,auth.log,letsencrypt/letsencrypt.log,php{{ php_version }}-fpm.log,mysql/*.log,freenom/*.log,nginx/nextcloud/*.log}
          job: integrations/node_exporter
    - job_name: integrations/mysql 
      static_configs:
        - labels:
            instance: {{ custom_hostname }}
            job: integrations/mysql # must match job used in mysqld_exporter
            __path__: /var/log/mysql/*.log
      pipeline_stages:
        - regex:
              expression: '(?P<timestamp>.+) (?P<thread>[\d]+) \[(?P<label>.+?)\]( \[(?P<err_code>.+?)\] \[(?P<subsystem>.+?)\])? (?P<msg>.+)'
        - labels:
            label:
            err_code:
            subsystem:
        - drop:
            expression: "^ *$"
            drop_counter_reason: "drop empty lines"
    {% if docker_enabled %}- job_name: integrations/docker
      docker_sd_configs:
        - host: unix:///var/run/docker.sock
          refresh_interval: 5s
      relabel_configs:
        - action: replace
          replacement: integrations/docker
          source_labels: 
            - __meta_docker_container_id
          target_label: job
        - action: replace
          replacement: localhost:9090
          source_labels:
            - __meta_docker_container_id
          target_label: {{ custom_hostname }}
        - source_labels:
            - __meta_docker_container_name
          regex: '/(.*)'
          target_label: container
        - source_labels: 
            - __meta_docker_container_log_stream
          target_label: stream
{% endif %}

metrics:
  configs:
  - name: integrations
    remote_write:
    - basic_auth:
        password: {{ grafana_api_key }}
        username: {{ grafana_hosted_metrics_id }}
      url: {{ grafana_hosted_metrics_url }}
    scrape_configs:
  global:
    scrape_interval: {{ grafana_scrape_interval }}
  wal_directory: {% if mount_point is defined -%}{{ mount_point }}{% endif %}/tmp/grafana-agent-wal
