map $http_upgrade $connection_upgrade {
    default      keep-alive;
    'websocket'  upgrade;
    ''           close;
}

server {
    listen 80;
        listen [::]:80;

        listen 443      ssl http2;
        listen [::]:443 ssl http2;

    server_name {{ headscale_server_url }};

    ssl_certificate /media/disk/nomad_volumes/certs/live/{{ headscale_server_url }}/fullchain.pem;
    ssl_certificate_key /media/disk/nomad_volumes/certs/live/{{ headscale_server_url }}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;

    location / {
        proxy_pass http://{{ ansible_default_ipv4.address }}:{{ headscale_listen_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header Host $server_name;
        proxy_redirect http:// https://;
        proxy_buffering off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $http_x_forwarded_proto;
        add_header Strict-Transport-Security "max-age=15552000; includeSubDomains" always;
    }
}
