upstream php-handler {
  server unix:/run/php/php{{ php_version }}-fpm.sock;
}

map $arg_v $asset_immutable {
  "" "";
  default "immutable";
}

server {
  listen 80;
  server_name {{ nextcloud_domain }};
  add_header X-Frame-Options "SAMEORIGIN";

  # Prevent nginx HTTP Server detection
  server_tokens off;
   
  return 301 https://$server_name$request_uri; #enforce HTTPS 
}

server {
  listen 443 ssl http2;
  server_name {{ nextcloud_domain }};
  ssl_certificate /etc/letsencrypt/live/{{ nextcloud_domain }}/fullchain.pem; # managed by Certbot
  ssl_certificate_key /etc/letsencrypt/live/{{ nextcloud_domain }}/privkey.pem; # managed by Certbot
  ssl_dhparam /etc/nginx/ssl/dhparam.pem;    

  ssl_session_timeout 5m;
  ssl_protocols TLSv1.2 TLSv1.3;
  ssl_prefer_server_ciphers on;    
  ssl_session_cache shared:SSL:5m;
  ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';

  # Prevent nginx HTTP Server detection
  server_tokens off;

  #Security-related-headers
  add_header Strict-Transport-Security "max-age=15768000; includeSubdomains; preload";
  add_header X-Content-Type-Options "nosniff" always;
  add_header X-Frame-Options "SAMEORIGIN" always;
  add_header X-XSS-Protection "1; mode=block" always;
  add_header X-Robots-Tag "noindex, nofollow" always;
  add_header X-Download-Options "noopen" always;
  add_header X-Permitted-Cross-Domain-Policies "none" always;
  add_header Referrer-Policy "no-referrer" always;

  # Remove X-Powered-By because of information leak
  fastcgi_hide_header X-Powered-By;

  # Path_to_the_root_files
  root {{ nextcloud_web_directory }};

  client_max_body_size 512M;
  client_body_timeout 300s;
  client_body_buffer_size 512k;
  fastcgi_buffers 64 4K;

  access_log /var/log/nginx/nextcloud/nextcloud-access.log combined buffer=32k;
  error_log /var/log/nginx/nextcloud/nextcloud-error.log;

  location = /robots.txt {
    allow all;
    log_not_found off;
    access_log off;
  }

  # Enable gzip but do not remove ETag headers
  gzip on;
  gzip_vary on;
  gzip_comp_level 4;
  gzip_min_length 256;
  gzip_proxied expired no-cache no-store private no_last_modified no_etag auth;
  gzip_types application/atom+xml text/javascript application/javascript application/json application/ld+json application/manifest+json application/rss+xml application/vnd.geo+json application/vnd.ms-fontobject application/wasm application/x-font-ttf application/x-web-app-manifest+json application/xhtml+xml application/xml font/opentype image/bmp image/svg+xml image/x-icon text/cache-manifest text/css text/plain text/vcard text/vnd.rim.location.xloc text/vtt text/x-component text/x-cross-domain-policy;

  # Remove X-Powered-By, which is an information leak
  fastcgi_hide_header X-Powered-By; 

  # Add .mjs as a file extension for javascript
  # Either include it in the default mime.types list
  # or include you can include that list explicitly and add the file extension
  # only for Nextcloud like below:
  include mime.types;
  types {
      text/javascript js mjs;
  }

  index index.php index.html /index.php$request_uri;

  location = / {
    if ( $http_user_agent ~ ^DavClnt ) {
      return 302 /remote.php/webdav/$is_args$args;
    }
  }

  location ^~ /.well-known {
    # The rules in this block are an adaptation of the rules
    # in `.htaccess` that concern `/.well-known`.

    location = /.well-known/carddav { return 301 /remote.php/dav/; }
    location = /.well-known/caldav  { return 301 /remote.php/dav/; }

    location /.well-known/acme-challenge    { try_files $uri $uri/ =404; }
    location /.well-known/pki-validation    { try_files $uri $uri/ =404; }

    # Let Nextcloud's API for `/.well-known` URIs handle all other
    # requests by passing them to the front-end controller.
    return 301 /index.php$request_uri;
  }

  # Rules borrowed from `.htaccess` to hide certain paths from clients
  location ~ ^/(?:build|tests|config|lib|3rdparty|templates|data)(?:$|/)  { return 404; }
  location ~ ^/(?:\.|autotest|occ|issue|indie|db_|console)                { return 404; }

  # Ensure this block, which passes PHP files to the PHP process, is above the blocks
  # which handle static assets (as seen below). If this block is not declared first,
  # then Nginx will encounter an infinite rewriting loop when it prepends `/index.php`
  # to the URI, resulting in a HTTP 500 error response.
  location ~ \.php(?:$|/) {
    # Required for legacy support
    rewrite ^/(?!index|remote|public|cron|core\/ajax\/update|status|ocs\/v[12]|updater\/.+|ocs-provider\/.+|.+\/richdocumentscode\/proxy) /index.php$request_uri;

    fastcgi_split_path_info ^(.+?\.php)(/.*)$;
    set $path_info $fastcgi_path_info;

    try_files $fastcgi_script_name =404;

    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param PATH_INFO $path_info;
    fastcgi_param HTTPS on;

    fastcgi_param modHeadersAvailable true;         # Avoid sending the security headers twice
    fastcgi_param front_controller_active true;     # Enable pretty urls
    fastcgi_pass php-handler;

    fastcgi_intercept_errors on;
    fastcgi_request_buffering off;

    fastcgi_max_temp_file_size 0;
  }

  # Serve static files
  location ~ \.(?:css|js|mjs|svg|gif|png|jpg|ico|wasm|tflite|map|ogg|flac)$ {
    try_files $uri /index.php$request_uri;
    add_header Cache-Control "public, max-age=15778463, $asset_immutable";
    access_log off;     # Optional: Don't log access to assets

    location ~ \.wasm$ {
      default_type application/wasm;
    }
  }

  location ~ \.woff2?$ {
    try_files $uri /index.php$request_uri;
    expires 7d;         # Cache-Control policy borrowed from `.htaccess`
    access_log off;     # Optional: Don't log access to assets
  }

  # Rule borrowed from `.htaccess`
  location /remote {
    return 301 /remote.php$request_uri;
  }

  location / {
    try_files $uri $uri/ /index.php$request_uri;
  }
}
