zend_extension=opcache.so
opcache.enable=1
opcache.enable_cli={{ php_opcache_enable_cli }}
opcache.memory_consumption={{ php_opcache_memory_consumption }}
opcache.interned_strings_buffer={{ php_opcache_interned_strings_buffer }}
opcache.max_accelerated_files={{ php_opcache_max_accelerated_files }}
opcache.save_comments={{ php_opcache_save_comments }}
opcache.revalidate_freq={{ php_opcache_revalidate_freq }}
