# Server configuration for pihole

server {
    listen 8081;

    root {{ pihole_webroot }};
    server_name pi.hole;
    autoindex off;

    index pihole/index.php index.php index.html index.htm;

    location / {
	allow {{ ansible_default_ipv4.network}}/{{ banana_network | ansible.utils.ipaddr('prefix') }};
	allow 127.0.0.1;
	deny all;

        expires max;
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php{{ php_version }}-fpm.sock;
        #auth_basic "Restricted"; #For Basic Auth
        #auth_basic_user_file /etc/nginx/.htpasswd;  #For Basic Auth
    }

    location /*.js {
        index pihole/index.js;
        #auth_basic "Restricted"; #For Basic Auth
        #auth_basic_user_file /etc/nginx/.htpasswd;  #For Basic Auth
    }

    location /admin {
        root {{ pihole_webroot }};
        index index.php index.html index.htm;
        #auth_basic "Restricted"; #For Basic Auth
        #auth_basic_user_file /etc/nginx/.htpasswd;  #For Basic Auth
    }

    location ~ /\.ht {
        deny all;
    }
}
