version: "1"

global:
  default-command: snapshots
  initialize: false
  priority: low
  min-memory: 200

# a group is a profile that will call all profiles one by one
groups:
  # when starting a backup on profile "full-backup",
  # it will run the "data" and "others" backup profiles
  full-backup:
    - data
  {% if 'servers' in group_names %}
  - mysql
  {% endif %}

# Default profile when not specified on the command line (-n or --name)
# There's no default inheritance from the 'default' profile,
# you can use the 'inherit' flag if needed
default:
  password-file: key
  repository: rclone:megarestic:{{ custom_hostname }}
  #run-before: mount /backup
  #run-after: umount /backup
  run-after-fail: gcloud pubsub topics publish {{ gcp_pubsub_topic_name }} --message "Your backup has failed in {{ custom_hostname }}." --project {{ gcp_project }}

  retention:
    before-backup: false
    after-backup: true
    keep-daily: 7
    keep-weekly: 1
    keep-monthly: 1
    keep-tag:
      - forever
    prune: true
    # tag can be a boolean ('true' meaning to copy tag set from 'backup') 
    # or a custom set of tags.
    # Default is 'false', meaning that tags are NOT used.
    tag: true
    # host can be a boolean ('true' meaning current hostname)
    # or a string to specify a different hostname
    host: true

# New profile named 'data'
data:
  inherit: default
  initialize: false
  # LOCAL lockfile so you cannot run the same profile more than once at a time
  # (it's totally independent of the restic locks on the repository)
  lock: /tmp/resticprofile-data.lock

  backup:
    exclude-caches: true
    # files with no path are relative to the configuration file
    one-file-system: false
    source: 
{% for path in restic_folders %}
      - {{ path }}
{% endfor %}
    tag:
      - data
    # ignore restic warnings when files cannot be read
    no-error-on-warning: true
    # run every day at midnight
    schedule: daily
    schedule-permission: system
    schedule-lock-wait: 2h

{% if 'servers' in group_names -%}
mysql:
  inherit: default
  initialize: false
  lock: /tmp/resticprofile-mysql.lock

  backup:
    stdin: true
    exclude-caches: true
    one-file-system: false
    tag:
      - mysql
    # ignore restic warnings when files cannot be read
    no-error-on-warning: true
    stdin-command: [ 'mysqldump --defaults-file=/etc/mysql/backup.cnf {{ restic_databases }} --order-by-primary' ]
    stdin-filename: "dump.sql"
    # run every day at midnight
    schedule: daily
    schedule-permission: system
    schedule-lock-wait: 2h
{% endif %}