server {
  listen 80;
  server_name {{ wordpress_domain }};
  return 301 https://$server_name$request_uri; #enforce HTTPS
}

server {
  listen 443 ssl http2;
  server_name {{ wordpress_domain }};
  ssl_certificate /etc/letsencrypt/live/{{ wordpress_domain }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ wordpress_domain }}/privkey.pem;
  ssl_dhparam /etc/nginx/ssl/dhparam.pem;

  ssl_protocols TLSv1.2 TLSv1.3;
  ssl_prefer_server_ciphers on;
  ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
  ssl_session_cache shared:SSL:5m;

  #Security-related-headers
  add_header Strict-Transport-Security "max-age=15768000; includeSubdomains;";
  add_header X-Frame-Options "SAMEORIGIN" always;
  add_header X-Content-Type-Options "nosniff" always;
  add_header Content-Security-Policy "default-src 'self' https: data: 'unsafe-inline' 'unsafe-eval';" always;
  add_header X-XSS-Protection "1; mode=block";

 #Generic configuration
  index index.php;
  gzip off;
  root {{ wordpress_web_directory }};
  error_page 401 403 404 /404.html;

  access_log /var/log/nginx/wordpress/{{ wordpress_domain }}-access.log;
  error_log /var/log/nginx/wordpress/{{ wordpress_domain }}-error.log;

  client_max_body_size 5M;

  #Securing content
  location = /favicon.ico { log_not_found off; access_log off; }
  location = /robots.txt { log_not_found off; access_log off; allow all; }
  location ~* \.(css|gif|ico|jpeg|jpg|js|png)$ {
    expires max;
    log_not_found off;
  }
  location ~* (pl|cgi|py|sh|lua)$ { return 444; } #Disabling otherCGI scripts
  location ~* (?:uploads|files)/.*.php$ { deny all; } #Deny php files in uploads
  #location ~* .(engine|inc|info|install|make|module|profile|test|po|sh|.*sql|theme|tpl(.php)?|xtmpl)$|^(..*|Entries.*|Repository|Root|Tag|Template)$|.php_ { return 444; } #Disabling the access to some files
  location ~ .(gif|png|jpg|jpeg)$ {
    valid_referers none blocked {{ wordpress_domain }};
    if ($invalid_referer) { return 403; }
  } # Blocking hotlinking

  location / {
  # First attempt to serve request as file, then
  # as directory, then fall back to displaying a 404.
    try_files $uri $uri/ /index.php$is_args$args;
  }

  #Disabling XML-RPC to avoid attacks
  location /xmlrpc.php {
    deny all;
  }

  location ~ \.php$ {
    include snippets/fastcgi-php.conf;
    fastcgi_buffers 8 16k;
    fastcgi_buffer_size 32k;
    fastcgi_connect_timeout 300;
    fastcgi_send_timeout 300;
    fastcgi_read_timeout 300;
    fastcgi_pass unix:/run/php/php{{ php_version }}-fpm.sock;
  }
}

