[wordpress]
enabled = false
filter = wordpress-auth
action = iptables-multiport[name=NoAuthFailures, port="http,https"]
logpath = /var/log/nginx/wordpress/{{ wordpress_domain }}-access.log;
bantime = 43000
maxretry = 3
