/var/log/php{{ php_version }}-fpm.log {
    su root adm
	rotate 12
	weekly
	missingok
	notifempty
	compress
	delaycompress
    create 0640 root adm
	postrotate
		if [ -x /usr/lib/php/php{{ php_version }}-fpm-reopenlogs ]; then
			/usr/lib/php/php{{ php_version }}-fpm-reopenlogs;
		fi
	endscript
}
